.App-header {
  background-color: #4d5a73;;
}
.App-header a {
  font-size: calc(18px + 1vmin);
  font-weight: bold;
  color: white;
}

.App-header a:visited {
  color: white;
}

.App-body {
  background-color: #adb6bb;
  text-align: center;
}

.App-footer {
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.SocialLinks {
  text-align: right;
  padding-right: calc(40px + 1vmin);
}

.Subscript {
  font-size: calc(8px + 1vmin);
}

.Position {
  font-size: calc(24px + 1vmin);
  margin-bottom: 0px;
}

.reactLogo {
  height: 40px;
  cursor: pointer;
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.nodeLogo {
  height: 50px;
}
.typescriptLogo {
  height: 20px;
}
.vsCodeLogo {
  height: 30px;
}
.awsLogo {
  height: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg); /* Adjust the degree to achieve the desired effect */
  }
}
.rotating {
  animation: spin 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.carousel-caption {
  font-size: calc(8px + 1vmin);
  text-align: right;
}

.list-group-item {
  font-size: calc(8px + 1vmin);
  background-color: #adb6bb;
}